{% extends 'layout.html' %}

{% block title %}
    Musicly-Home
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mm">Welcome to Musicly Application</h1>
    <div class="text-center">
        <a href="#" class="btn btn-warning btn-lg">Create Playlist <span class="plus-sign">+</span></a>
    </div>
    <div class="row mt-4">
        {% for song in songs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.name }}</h5>
                        <p class="card-text">Artist: {{ song.artist }}</p>
                        <p class="card-text">Rating: {{ song.rating }}</p>
                        <p class="card-text">Genre: {{ song.genre }}</p>
                        <a href="playSong/{{song.id}}" class="btn btn-info">Listen</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .mm{
        text-align: center;
        margin: 17px;
    }
</style>
{% endblock %}