{% extends 'layout.html' %}

{% block title %}
    Musicly-Manage Creators
{% endblock %} 

{% block content %} 
<div class="container mt-5">
    <div class="row mt-4">
      <div class="col-md-6">
        <h3>Whitelisted Creators</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Creator ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Songs</th>
              <th>AlbumCount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for creator in creators %}
            <tr>
                {% if creator[3] == "white" %}  
                  <td>{{ creator[0] }}</td>
                  <td>{{ creator[1] }}</td>
                  <td>{{ creator[2] }}</td>
                  <td>{{ creator[4] }}</td>
                  <td>{{ creator[5] }}</td>
                  <td>
                    <form>
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i><a href="manageCreators/{{creator[0]}}/{{'black'}}"> Blacklist</a></button>
                    </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
  
      <div class="col-md-6">
        <h3>Blacklisted Creators</h3>
        <table class="table">
          <thead>
            <tr>
                <th>Creator ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Songs</th>
                <th>AlbumCount</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for creator in creators %}
            <tr>
              {% if creator[3] == "black" %}
                <td>{{ creator[0] }}</td>
                <td>{{ creator[1] }}</td>
                <td>{{ creator[2] }}</td>
                <td>{{ creator[4] }}</td>
                <td>{{ creator[5] }}</td>
                <td>
                  <form>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check"></i><a href="manageCreators/{{creator[0]}}/{{'white'}}"> Whitelist</a></button>
                  </form>
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %} 

{% block style %}
<style>
a{
  text-decoration: none;
  color: white;
}
</style>
{% endblock %}
