{% extends 'layout.html' %}

{% block title %}
    Musicly-Login
{% endblock %} 

{% block content %} 
<div class="container mt-5">
    <h2>Song Management</h2>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Song ID</th>
          <th>Song Title</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{song.id}}</td>
          <td>{{song.name}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.genre}}</td>
          <td>{{song.rating}}</td>
          <td>
            <form>
              <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-flag"></i><a href="manageSongs/{{'flag'}}/{{song.id}}"> Flag</a></button>
              <button type="submit" class="btn btn-warning btn-sm"><i class="fas"></i><a href="manageSongs/{{'lyrics'}}/{{song.id}}"> View Lyrics</a></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %} 

{% block style %}
<style>
a{
  text-decoration: none;
  color: white;
}
</style>
{% endblock %}