{% extends 'layout.html' %}

{% block title %}
    Musicly-Play Song
{% endblock %} 

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>{{song.name}}</h1>
                <p>Artist: {{song.artist}}</p>
                <p>Genre: {{song.genre}}</p>
                <audio controls>
                    
                    <source src="{{path}}" type="audio/mp3">
                    Your browser does not support the audio tag.
                </audio>

                <!-- Rating Form -->
                <form id="ratingForm" action="/submit-rating" method="post">
                    <div class="form-group">
                        <label for="rating">Rate the song:</label>
                        <div class="rating-stars">
                            <i class="star" data-value="1">&#9733;</i>
                            <i class="star" data-value="2">&#9733;</i>
                            <i class="star" data-value="3">&#9733;</i>
                            <i class="star" data-value="4">&#9733;</i>
                            <i class="star" data-value="5">&#9733;</i>
                            <input type="hidden" name="rating" id="ratingInput" value="0">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Rating</button>
                </form>
            </div>
            <div class="col-md-1 border-right"></div>
            <div class="col-md-5 pl-4">
                <h3>Lyrics</h3>
                <p>
                    {{song.lyrics}}
                </p>

                <!-- Add more lyrics content here -->
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
<style>
    .rating-stars {
        cursor: pointer;
    }

    .rating-stars i {
        font-size: 24px;
        color: #ddd;
    }

    .rating-stars i:hover,
    .rating-stars i.active {
        color: #ffc107;
    }
    p {
            white-space: pre-line;  /* Preserve newline characters */
        }
</style>
{% endblock %}