{% extends 'layout.html' %}

{% block title %}
    Musicly-Play Song
{% endblock %} 

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="song-info p-3">
                    <img src="../static/images/dog.jpg" alt="Song Image" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
                    <h1>{{song.name}}</h1>
                    <p>Artist: {{song.artist}}</p>
                    <p>Rating: {{song.rating}}</p>
                    <p>Genre: {{song.genre}}</p>
                    <audio controls class="mb-2">
                        <source src="{{ url_for('static', filename='audios/' + song.filename) }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                    <div class="container">
                        <form action="/submit-rating/{{song.id}}" method="post">
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5">
                                <label for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label for="star1"></label>
                            </div>
                            <button type="submit" class="btn btn-outline-warning mt-3 bt">Submit Rating</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-1 border-right"></div>
            <div class="col-md-5 pl-4">
                <div class="lyrics-box p-3">
                    <h3>Lyrics</h3>
                    <hr>
                    <p>{{ song.lyrics }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style>
    .rating {
        display: inline-block;
        font-size: 64px; /* Adjust the size of the stars */
        cursor: pointer;
        line-height: 2;
    }

    .bt{
        margin-left: -204px;
    }

    .rating input {
        display: none;
    }

    .rating label {
        float: right;
        color: #ddd;
    }

    .rating label:before {
        content: '\2605'; /* Unicode character for a star */
    }

    .rating input:checked ~ label {
        color: #ffc107;
    }
    .song-info {
        border: 1px solid #ddd;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .lyrics-box {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        height: 100%; /* Adjust the height as needed */
    }
    p {
        white-space: pre-line; 
    }
</style>
{% endblock %}